*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#contentWrapper{
    background-color: brown;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
    min-height: 100vh;
}

#gridWrapper{
    background-color: wheat;
    border: 5px solid black;
    width: auto;
    height: auto;
}

.rowWrapper{
    display: flex;
}